<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Josh Bastean - Professional Nerd</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <h1>
        <div class="text">
            <div class="animate">Josh</div>
        </div>
        <div class="text">
            <div class="animate delay">Bastean</div>
        </div>
    </h1>

<!-- Scroll Arrow -->
<div id="arrow-div">
    <div class="bounce">
        <i id="scrollArrow" class="icono-arrow4-down"></i>
    </div>
</div>

<!-- Paragraph (starts off-page) -->

    <div class="about">
        <h2>Hi! I'm Josh, a nerd who loves to help improve teaching through the integration of technology. I'm currently leading at Coker College as an Instructional Technology Analyst & Designer.</h2>
        <p>My journey as a technology leader started at the age of 14 in Memphis, TN when I built my first computer. After I graduated high school, I got my bachelor's and master's degrees in English and Literacy Instruction, followed by a Doctorate of Education in Curriculum & Instruction. This has helped me to widen my range of knowledge and gather experiences through a variety of educational institutions and positions, including teacher, athletic coach, instructional technology coordinator, and instructional technology analyst and designer.</p><br>
        <p>My educational philosophy is that the purpose of education should be to instill a love of learning in all students, and to help prepare them for life, work, and citizenship. Education should help students learn <em>how</em> to think, rather than tell them <em>what</em> to think.</p><br>
        <p>Right now, I live in Hartsville, SC with my gorgeous wife Kimberly and our three awesome kids: Zo&#235 [5], Jacob [2], and Maggie [1]. In my free time, I like to program in JavaScript and Python, cook, play video games, do some hardware hacking, and play guitar.</p><br>
        <p>Feel free to reach out at <b><a class="shadow" href="mailto:misterbastean@gmail.com" target="_blank">misterbastean [a] gmail.com</a></b> or follow me at
            <b><a class="shadow" href="https://twitter.com/misterbastean" target="_blank">@misterbastean</a></b>.
        </p>
        <br>
        <a href="https://basteanblog.weebly.com">
            <div id="blog-link">
                Blog
            </div>
        </a>
        <a href="/portfolio">
            <div id="portfolio-link">
                Portfolio
            </div>
        </a>
    </div>
</body>
</html>
