<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Josh Bastean - Professional Nerd</title>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
		<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
	</head>
	<body>

		<!-- .hero -->
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<figure class="center">
					    <h1 class="title is-size-1">
    				        <span class="main-title">
    				        <i class="fas fa-code"></i>
    					    </span>
    					     <span class="main-title">MisterBastean</span>
					    </h1>

					</figure>
				</div>
			</div>
		</section>
		<!-- /.hero -->

		<section class="section has-background-light">
			<div class="container">
				<div class="columns">
					<!-- MealApp -->
					<div class="column">
						<a href="/mealapp" target="_blank">
							<article class="media notification is-info">
									<figure class="media-left">
										<span class="icon is-medium">
											<i class="fa-2x fas fa-code"></i>
										</span>
									</figure>
									<div class="media-content">
										<div class="content">
												<h1 class="title is-size-4">MealApp</h1>
												<p class="is-size-5">
													I used Node.js, Express, and MongoDB to create a recipe-sharing website. Includes authorization for CRUD, aggregation, and other features.<br><br> ᕕ( ᐛ )ᕗ
												</p>
										</div>
									</div>
							</article>
						</a>
					</div>
					<!-- Tesla -->
					<div class="column">
						<a href="/tesla" target="_blank">
							<article class="media notification is-primary">
									<figure class="media-left">
										<span class="icon is-medium">
											<i class="fa-2x fas fa-code"></i>
										</span>
									</figure>
									<div class="media-content">
										<div class="content">
												<h1 class="title is-size-4">Tesla</h1>
												<p class="is-size-5">
													This is a single-page demonstration of using the Bulma CSS framework to easily replicate a Tesla webpage. This is done completely with HTML/CSS; no JavaScript! And it's still completely responsive.<br> ٩(^ᴗ^)۶
												</p>
										</div>
									</div>
							</article>
						</a>
					</div>
					<!-- What to Eat? -->
					<div class="column">
						<a href="/techinfusion" target="_blank">
							<article class="media notification is-warning">
									<figure class="media-left">
										<span class="icon is-medium">
											<i class="fa-2x fas fa-code"></i>
										</span>
									</figure>
									<div class="media-content">
										<div class="content">
												<h1 class="title is-size-4">Tech Infusion</h1>
												<p class="is-size-5">
													I created this website as part of my doctoral work. It's pretty bare-bones, but demonstrates how easy it is to plug in third-party widgets, and the professor asked that I leave it up as a reference for other students.<br> ⦤(^ー^)⦥
												</p>
										</div>
									</div>
							</article>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="hero">
		  <div class="hero-body has-text-centered">
		    <div class="container">
		      <h1 class="title">
		        Favorite Tools
		      </h1>
		    </div>
		  </div>
		</section>

		<section class="section">
			<div class="container">
				<div class="columns is-multiline">
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon">
									<i class="fab fa-2x fa-node-js" style="color:hsl(141, 71%, 48%)"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">Node.js</h1>
									<p class="subtitle is-size-5">
									I love <strong>Node.js</strong>, because it allows for full-stack development based on JavaScript.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-grey">
									<i class="fab fa-2x fa-wpforms"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">Express</h1>
									<p class="subtitle is-size-5">
										The indispensable <strong>Express</strong> framework provides routes and more for Node.js webapps.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon">
									<i class="fas fa-2x fa-cubes" style="color: hsl(5, 38%, 29%)"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">MongoDB</h1>
									<p class="subtitle is-size-5">
										While less robust than its older SQL brothers, <strong>MongoDB</strong> is an excellent choice for many modern webapps.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon" style="color: #563d7c">
									<i class="fab fa-2x fa-css3-alt"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">Bootstrap</h1>
									<p class="subtitle is-size-5">
										<strong>Bootstrap</strong> is the most popular front-end framework in the world, and it's easy to see why.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon is-primary">
									<i class="fab fa-2x fa-react" style="color: hsl(171, 100%, 41%)"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">React</h1>
									<p class="subtitle is-size-5">
										I adore <strong>React</strong> because it allows me to create powerful, beautiful single-page apps.
									</p>
								</div>
							</div>
						</article>
					</div>
					<div class="column is-one-third">
						<article class="media notification has-background-white">
							<figure class="media-left">
								<span class="icon has-text-danger">
									<i class="fas fa-lg fa-terminal" style="color:hsl(217, 71%, 53%)"></i>
								</span>
							</figure>
							<div class="media-content">
								<div class="content">
									<h1 class="title is-size-4">jQuery</h1>
									<p class="subtitle is-size-5">
										I love how <strong>jQuery</strong> gives my JavaScript superpowers...
									</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>

	</body>
</html>
