<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="public/css/tesla/normalize.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Josh Bastean - Professional Development</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/public/css/pd.css">
	</head>
	<body>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col">
						<h1 class="display-4 pt-2">Professional<br />Development</h1>
					</div>
					<div class="col">
						<img src="/public/img/pd/josh_img.jpg" alt="Picture of Josh" class="rounded-circle header-img float-right">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h3>Differentiated PD to meet the needs of your teachers and leaders.</h3>
			<p>
				As a classroom teacher, one of the things I hated most was when professional development did not apply to me or my students.
				This is why I believe all professional development should be differentiated to meet the needs of the attendees, so cookie-cutter
				sessions do not work. Therefore, I offer training on a wide variety of topics and skills to help meet the needs of every teacher.
			</p>
			<p>
				This includes full- or half-day workshops on specific skills or tools, multi-day training on more advanced topics, and even
				deep-dive bootcamps for small groups to help build capacity and develop school- and district-level leaders.
			</p>
		</div>


		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
