<!DOCTYPE html>
<html>
	<head>
	  <link rel="stylesheet" href="public/css/tesla/normalize.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Josh Bastean - Professional Development</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/public/css/pd.css">
	</head>
	<body>

		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col">
						<h1 class="display-3 pt-2 text-white"><strong>Professional</strong><br /><strong>Development</strong></h1>
					</div>
					<div class="col">
						<img src="/public/img/pd/josh_img.jpg" alt="Picture of Josh" class="rounded-circle header-img float-right">
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<h3>Differentiated PD to meet the needs of <span class="text-strong">your</span> teachers and leaders.</h3>
			<p>
				As a classroom teacher, one of the things I hated most was when professional development did not apply to me or my students.
				This is why I believe all professional development should be differentiated to meet the needs of the attendees, so cookie-cutter
				sessions do not work. Therefore, I offer training on a wide variety of topics and skills to help meet the needs of every teacher.
			</p>
			<p>
				This includes full- or half-day workshops on specific skills or tools, multi-day training on more advanced topics, and even
				deep-dive bootcamps for small groups to help build capacity and develop school- and district-level leaders and trailblazers.
			</p>
			<hr />

			<!-- Start Reviews Section -->



			<!-- End Reviews Section -->
			<hr />
			
			<!-- Begin cards row -->

			<div class="row mb-5">
				<div class="col-sm-4">
					<a href="#" class="card-link" id="teachers-link">
						<div class="card">
							<img src="/public/img/pd/teacher1.jpg" alt="Teachers" class="card-img-top trans-image">
							<div class="card-img-overlay text-center middle">
								<h3 class="text-card-overlay">Teachers</h3>
							</div>
							<div class="card-body">
								<p>
									Teachers are the most important part of any school, and it is vital to help give them the training they need to be successful.
								</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="card-link" id="leaders-link">
						<div class="card">
							<img src="/public/img/pd/principal1.jpg" alt="Leaders" class="card-img-top trans-image">
							<div class="card-img-overlay text-center middle">
								<h3 class="text-card-overlay">Leaders</h3>
							</div>
							<div class="card-body">
								<p>
									Instructional leaders are vital to the success of any school, and must be kept up to date in this rapidly-changing world.
								</p>
							</div>
						</div>
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#" class="card-link" id="bootcamp-link">
						<div class="card">
							<img src="/public/img/pd/bootcamp1.png" alt="A group of teachers" class="card-img-top trans-image">
							<div class="card-img-overlay text-center middle">
								<h3 class="text-card-overlay text-card-overlay_camp">Boot Camp</h3>
							</div>
							<div class="card-body">
								<p>
									An excellent way to bring about systemic change is by creating a cohort of experts who can blaze the trail for others to follow.
								</p>
							</div>
						</div>
						</a>
				</div>
			</div>
			<!-- End of Cards Row -->
			<div id="description" name="description">
				<p class="description-default">Click one of the options above for more information.</p>
			</div>
		</div>
		<hr / />
		<!-- Begin "About Me" Section -->

		<div class="about-me container">
			<h3>About Dr. Josh Bastean</h3>
			<h5>Educator, Programmer, EdTech Consultant</h5>
			<h5>Work</h5>
			<ul>
				<li>High-School ELA Teacher - 6 years</li>
				<li>Instructional Technology Coordinator - 2 years</li>
				<li>Professor of Education - 3 years</li>
				<li>Instructional Technology Analyst and Designer - 1 year</li>
			</ul>
			<br />
			<h5>Certifications</h5>
			<ul>
				<li>Apple Learning Specialist</li>
				<li>Apple Teacher</li>
				<li>Google Certified Educator (Level 2)</li>
				<li>Raspberry Pi Certified Educator</li>
				<li>EdPuzzle Certified Coach</li>
			</ul>
		</div>
		<div class="footer">
			<h3>Contact Me: <span class='contact-email'>misterbastean [at] gmail.com</span></h3>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/public/js/pd/pdIndex.js"></script>
	</body>
</html>
