<div id="toggle-window">
  <div class='container' id="recipes-list">
    <table class="table toggle-table" id='recipes-table'>
      <thead>
        <tr>
          <th scope='col'>Recipe(s)</th>
        </tr>
      </thead>
      <tbody id="recipes-body">
      </tbody>
    </table>
    <div class="btn btn-block btn-danger" id='remove-all'>Remove All</div>
  </div>
</div>



<div id="toggle-window-background">
  <i class="fas fa-angle-left"></i>
</div>
